body {
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80vh;
  width: 80vw;
}

.maps-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 80vh;
  width: 80vw;
}

.home-nav-name {
  text-align: center;
}

.map {
  max-width: 95vw;
}

.map-container {
  height: 30vh;
}

.bosses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 80vh;
  width: 80vw;
}
.calibers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80vh;
  width: 80vw;
}

.round-container {
  background-color: lightgrey;
}

.caliber-container {
  width: 28%;
}

.boss-name {
  text-align: center;
}

.map-name {
  text-align: center;
}